/* main stylesheet file */
html, body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  letter-spacing: 3px;
}

header {
  padding-top: 17px;
  background-color: #477df7;
}

button {
  border-style: none;
}

nav#navBar {
  height: 96px;
  margin: 0 auto 0;
  background-color: #477df7;
}

nav#navBar h1 {
  width: 158px;
  height: 51px;
  margin: 0 auto;
  padding-top: 18px;
  padding-left: 10px;
  color: white;
  font-size: 42px;
  font-weight: initial;
}

#mainContainer {
  background-size: 100% 244px;
  background-image: url("../image/top-bar-background.png");
  background-repeat: no-repeat;
  padding-top: 63px;
}

button#mpMenu {
  width: 231px;
  height: 85px;
  float: right;
  margin-right: 21px;
  background-image: url("../image/wechat-mp-menu-button.png");
  background-repeat: no-repeat;
  background-color: #477df7;
}

button#mpNav {
  width: 71px;
  height: 66px;
  margin-top: 24px;
  float: left;
  margin-left: 21px;
  background-color: #477df7;
  background-image: url("../image/wechat-back-button.png");
  background-position-x: 19px;
  background-repeat: no-repeat;
}

#formContainer {
  width: 89.4%; /* 1006 / 1125 */
  height: 105px;
  margin: 0 auto 0;
  background-color: white; /* test */
  border-radius: 22px;
  padding-top: 50px;
}

#loadPhoto input[type=file] {
  font-size: 33px;
  padding-left: 40px;
}

#infoContainer {
  /* width: 1006px; */
  /* height: 1500px; */
  width: 89.4%; /* 1006 / 1125 */
  margin: 0 auto 0;
  background-color: white; /* test */
  border-radius: 22px;
  padding-top: 56px;
}

#infoContainer1 {
  /* width: 1006px; */
  /* height: 1500px; */
  width: 89.4%; /* 1006 / 1125 */
  margin: 32px auto 0;
  background-color: white; /* test */
  border-radius: 22px;
  padding-top: 22px;
}

i.icon {
  display: block;
}

#timeIconBar h2 {
  color: #707070;
  text-align: center;
  width: 350px;
  height: 90px;
  margin: 0 auto;
  font-size: 38px;
  font-weight: initial;
}

i#healthBoxIcon {
  width: 100px;
  height: 100px;
  background-image: url("../image/health-box-icon.png");
  float: left;
  margin-left: 51px;
}

i#smallQRCode {
  width: 126px;
  height: 100px;
  background-image: url("../image/top-right-small-qr-bar-button.png");
  float: right;
}

#photoContainer {
  width: 512px;
  height: 512px;
  border: dotted 25px cornflowerblue;
  margin: 46px auto 0;
  border-radius: 38px;
}

img#photoId {
  display: block;
  width: 493px;
  height: 493px;
  margin: 9px auto 0;
  border-radius: 13px;
}

#passContainer {
  width: 726px;
  margin: 44px auto 0;
  padding-left: 52px;
}

.vmiddle {
  vertical-align: middle;
}

#passTxt {
  color: rgb(93, 196, 61);
  font-size: 74px;
  font-family: 'STXihei';
  font-weight: bold;
  padding-left: 18px;
}

#passInfo {
  width: 95%;
  height: 260px;
  background-color: rgb(246, 246, 246);
  margin: 40px auto 15px;
  border-radius: 2px 2px 20px 20px;
}

#passInfo dl {
  width: 760px;
  margin: 0 auto;
}

#passInfo dd {
  margin-left: 0;
  height: 125px;
}

#pcrContainer {
  padding-top: 26px;
}

#negTxt {
  font-family: 'STXihei';
  font-size: 57px;
  font-weight: bold;
  color: #3b8df7;
}

#dayCount {
  font-size: 88px;
  font-weight: bold;
  color: #3b8df7;
}

#pcrDayInfo {
  margin-top: -9px;
}

#vacinInfo {
  border-top: solid 2px #e2e2e2;
}

#vacinFoldInfo {
  margin-top: 42px;
}

#vacinContainer {
  padding-top: 18px;
}

#tableInfo {
  /* width: 888px; */
  width: 88.3%; /* 888 / 1006 */
  height: 298px;
  margin: 5px auto 0;
  font-size: 40px;
  font-weight: initial;
}

#tableInfo .aRight {
  text-align: right;
  letter-spacing: 1px;
}

#tableInfo .aTitle {
  color: #9c9c9c;
}

#tableInfo .aValue {
  color: #333333;
}

#tableInfo .aHighLight {
  color: #e13f3f;
}

#tableInfo .aPlaceHolder {
  color: white;
}

.gtxt {
  font-size: 36px;
  color: #9c9c9c;
}

.ft76 {
  height: 25px;
}

.ft65 {
  height: 13px;
}

.fright {
  float: right;
}

button#backHome {
  display: block;
  /* width: 1006px; */
  width: 89.4%; /* 1006 / 1125 */
  height: 121px;
  margin: 56px auto 0;
  border-radius: 22px;
  background-color: #3f8adf;
  font-size: 42px;
  font-weight: initial;
  color: white;
}

footer p {
  color: #bbbbbb;
  text-align: center;
  font-size: 31px;
  margin-top: 39px;
}