/* main stylesheet file */
html, body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  letter-spacing: 3px;
}

header {
  padding-top: 17px;
  background-color: #477df7;
}

button {
  border-style: none;
}

nav#navBar {
  height: 96px;
  margin: 0 auto 0;
  background-color: #477df7;
}

nav#navBar h1 {
  width: 158px;
  height: 51px;
  margin: 0 auto;
  padding-top: 14px;
  padding-left: 10px;
  color: white;
  font-size: 42px;
  font-weight: initial;
}

#mainContainer {
  background-size: 100% 244px;
  background-image: url("../image/top-bar-background.png");
  background-repeat: no-repeat;
  padding-top: 63px;
}

button#mpMenu {
  width: 231px;
  height: 85px;
  float: right;
  margin-right: 21px;
  background-image: url("../image/wechat-mp-menu-button.png");
  background-repeat: no-repeat;
}

button#mpNav {
  width: 71px;
  height: 66px;
  margin-top: 24px;
  float: left;
  margin-left: 21px;
  background-color: #477df7;
  background-image: url("../image/wechat-back-button.png");
  background-position-x: 19px;
  background-repeat: no-repeat;
}

#infoContainer {
  /* width: 1006px; */
  /* height: 1500px; */
  width: 89.4%; /* 1006 / 1125 */
  margin: 0 auto 0;
  background-color: white; /* test */
  border-radius: 22px;
  padding-top: 56px;
}

i.icon {
  display: block;
}

#timeIconBar h2 {
  color: #707070;
  text-align: center;
  width: 350px;
  height: 90px;
  margin: 0 auto;
  font-size: 38px;
  font-weight: initial;
}

i#healthBoxIcon {
  width: 100px;
  height: 100px;
  background-image: url("../image/health-box-icon.png");
  float: left;
  margin-left: 51px;
}

i#smallQRCode {
  width: 126px;
  height: 100px;
  background-image: url("../image/top-right-small-qr-bar-button.png");
  float: right;
}

#photoContainer {
  width: 512px;
  height: 512px;
  border: dotted 26px cornflowerblue;
  margin: 46px auto 0;
}

img#photoId {
  display: block;
  width: 493px;
  height: 493px;
  margin: 9px auto 0;
  border-radius: 13px;
}

#passContainer {
  width: 500px;
  margin: 40px auto 0;
  padding-left: 52px;
}

#tableInfo {
  /* width: 888px; */
  width: 88.3%; /* 888 / 1006 */
  height: 298px;
  margin: 56px auto 0;
  font-size: 40px;
  font-weight: initial;
}

#tableInfo .aRight {
  text-align: right;
  letter-spacing: 1px;
}

#tableInfo .aTitle {
  color: #9c9c9c;
}

#tableInfo .aValue {
  color: #333333;
}

#tableInfo .aHighLight {
  color: #e13f3f;
}

#tableInfo .aPlaceHolder {
  color: white;
}

#ft76 {
  height: 63px;
}

button#backHome {
  display: block;
  /* width: 1006px; */
  width: 89.4%; /* 1006 / 1125 */
  height: 121px;
  margin: 56px auto 0;
  border-radius: 22px;
  background-color: #3f8adf;
  font-size: 42px;
  font-weight: initial;
  color: white;
}

footer p {
  color: #bbbbbb;
  text-align: center;
  font-size: 31px;
  margin-top: 39px;
}